body {
  background: url('map.png') repeat 0 0;;
  background-color: #cccccc;
  background-position: center;
  font-size: 14px;
}
#navcontainer {
  padding-top: 5px;
  margin: 0;
}
#navlist li {
  display: inline;
  list-style-type: none;
}
.style1 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 0em;
}
.style2 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 7em;
}
.style3 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 7em;
}
.style4 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 2.9em;
}
.style5 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 5.8em;
}
.style6 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 1.3em;
}
.style7 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 2.9em;
}
.style8 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 4.2em;
}
.style9 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 6.7em;
}
.style10 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
  margin-right: 1.2em;
}

section {
  margin: 0 auto;
  width: 90%;
  padding-top: 50px;
}

h3 {
  font-family: sans-serif;
  font-size: 2.5em;
  padding-top: 20px;
  padding-left: 25px;
  font-variant: small-caps;
  color: white;
}
.element {
  background-color: teal;
  height: 220px;
  width: 100%;
  opacity: 80%;
}
.outofservice {
  background-color: black;
  opacity: 75%;
}
